---
---

@import 'variables';

h1,
h2,
h3,
h4 {
  .anchor {
    display: none !important;
    position: relative;
    width: 0;
    margin: 0;
    padding: 40px;
    left: 10px;
    color: $theme;
    opacity: 0;
    text-decoration: none;
    transition: opacity $fast, color $fast;
  }

  &:hover .anchor,
  .anchor:focus {
    opacity: 1;
  }

  .markdown-body h1 .anchor,
  .markdown-body h2 .anchor,
  .markdown-body h3 .anchor,
  .markdown-body h4 .anchor,
  .markdown-body h1 .octicon,
  .markdown-body h2 .octicon,
  .markdown-body h3 .octicon,
  .markdown-body h4 .octicon {
    display: none !important;
  }
  }

[data-glow='true'] {
  animation: highlight_glow 2s;
}

@keyframes highlight_glow {
  0% {
    background: none;
  }
  10% {
    background: $light-theme;
  }
  100% {
    background: none;
  }
}
