---
---

@import 'variables';
@import 'mixins';

.feature {
  @include flex-center;
  margin: 40px 0;
  @include trim-margins;

  .feature_image {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;   // ép hình vuông
    overflow: hidden;
    box-shadow: $shadow;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;    // fill đúng đẹp, không méo
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &:nth-child(odd) {
    .feature_image {
      order: -1;
      margin-right: 40px;
    }
  }

  &:nth-child(even) {
    .feature_image {
      order: 1;
      margin-left: 40px;
    }
  }

  .feature_heading {
    font-family: $sans;
    font-weight: $medium;
    text-align: center;
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    .feature_image {
      order: unset !important;
      width: unset !important;
      margin: 0 !important;
      margin-bottom: 20px !important;

      .feature_text {
        width: unset !important;
      }
    }
  }
}
