---
---

@import "variables";
@import "mixins";

.figure {
  @include flex-center;
  flex-direction: column;
  margin: 40px 0;
  @include trim-margins;

  .figure_image {
    img[data-default="true"] {
      max-width: 400px;
      max-height: 300px;
    }
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }

  &[data-flat="false"] {
    .figure_image {
      overflow: hidden;
      box-shadow: $shadow;

      img {
        transition: transform $fast;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

.figure[data-hero="true"] {
  margin: 0;
  width: 100vw;
  max-width: 100vw;

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .figure_image {
    width: 100%;
    height: auto;

    img {
      width: 100vw;
      max-width: 100vw;
      height: auto;
      display: block;
    }
  }

  .figure_caption {
    max-width: $page;
    margin: 12px auto 0;
    padding: 0 1rem;
  }
}
