---
---

@import "variables";
@import "mixins";

.figure {
  @include flex-center;
  flex-direction: column;
  margin: 40px 0;
  @include trim-margins;

  .figure_image {
    img[data-default="true"] {
      max-width: 400px;
      max-height: 300px;
    }
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }

  &[data-flat="false"] {
    .figure_image {
      overflow: hidden;
      box-shadow: $shadow;

      img {
        transition: transform $fast;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

.figure[data-hero="true"] {
  position: relative;
  width: 100vw;
  height: 100vh;

  left: 50%;
  margin-left: -50vw;

  .figure_image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // quan trọng nhất
    }
  }

  // overlay
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }

  .hero-content {
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;

    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.2rem;
      opacity: 0.9;
    }
  }
}

