---
---

@import 'variables';
@import 'mixins';

header {
  box-sizing: border-box;
  position: relative;
  @include flex-center;
  justify-content: space-between;

  background: #ffffff;
  font-family: $sans;
  box-shadow: $shadow;
  z-index: 1;

  .logo_row {
    @include inline-flex-center;

    background: #ffffff;
    height: 100%;
    padding: 0 20px;
    align-self: stretch;

    .logo > * {
      max-width: 100%;
      height: 100px;
    }

    .logo_text {
      font-family: $sans;
      font-size: 1.85rem;
      margin: 0 10px;
      text-align: center;
      color: #002de6 !important; // chữ đen
    }
  }

  .nav_row {
    @include inline-flex-center;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: $medium;
    text-transform: uppercase;
    letter-spacing: 1px;

    .nav_link {
      display: inline-block;
      padding: 10px;
      text-align: center;
      white-space: nowrap;
      transition: opacity $fast;
    }

    &:hover .nav_link {
      opacity: 0.25;
    }

    & .nav_link:hover {
      opacity: 1;
    }
  }

  a {
    color: $black !important;
    font-family: $sans;
    text-decoration: none;
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    .logo_row {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $phone) {
    .logo_row {
      margin-bottom: 20px;
      flex-direction: column;
    }

    .nav_row {
      flex-direction: column;
      width: 100%;

      .nav_link {
        width: 100%;
      }
    }
  }
}
