---
---

@import "variables";
@import "mixins";

h1,
h2,
h3,
h4 {
  box-sizing: border-box;
  font-family: $sans;
  font-weight: $medium;
  line-height: 1.2;
  margin: 40px 0 20px 0;
  @include trim-margins;
  padding: 10px 0;

  & > i {
    color: $light-gray;
    margin-right: 1rem;
  }
}
h1 {
  font-size: clamp(1.8rem, 5vw, 2.75rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  & + p {
    margin-top: 40px;
  }
}
h2 {
  font-size: clamp(1.5rem, 4vw, 1.7rem);
  letter-spacing: 1px;
  text-align: center;
}
h3 {
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  text-align: center;
}
h4 {
  font-size: 1rem;
  text-align: left;
}
