{% assign books = site.data.books %}

{% if include.year != nil %}
  {% if include.year == "" %}
    {% assign filtered_books = books %}
  {% else %}
    {% assign filtered_books = books | where: "year", include.year %}
  {% endif %}
{% else %}
  {% assign filtered_books = books %}
{% endif %}

{% assign filtered_books = filtered_books | sort: "year" | reverse %}

<div id="book-list">
  {% for b in filtered_books %}

    {% capture row2_text %}
      {% if b.book %}<em>{{ b.book }}</em>{% endif %}
      {% if b.publisher %}, {{ b.publisher }}{% endif %}
      {% if b.pages %}, {{ b.pages }}{% endif %}
      | Year: {{ b.year }}
      {% if b.note %} ({{ b.note }}){% endif %}
    {% endcapture %}

    {%- include pub-component.html
        size=include.size
        heading=b.title
        row1=b.authors
        row2=row2_text
        index=forloop.index
    -%}

  {% endfor %}
</div>
