{% assign publications = site.data.publications 
      | sort: "cited_by" 
      | reverse %}

{% if include.year != nil %}
  {% if include.year == "" %}
    {% assign filtered_publiclications = publications %}
  {% else %}
    {% assign filtered_publiclications = publications 
          | where: "year", include.year %}
  {% endif %}
{% else %}
  {% assign filtered_publiclications = publications %}
{% endif %}

<div id="pub-list">
  {% for pub in filtered_publiclications %}
    {% capture tags %}
      {% include tags.html tag=pub.year %}
    {% endcapture %}

    {% capture row2_text %}
      Cited by: {{ pub.cited_by }} | Year: {{ pub.year }}
    {% endcapture %}

    {%- include pub-component.html
        size=include.size
        heading=pub.title
        row1=pub.authors
        row2=row2_text
        index=forloop.index
    -%}
  {% endfor %}
</div>
