{%- assign icon = "fas fa-user" -%} {%- assign text = "Default Role" -%} {%- if
include.type == "pi" -%} {%- assign icon = "fas fa-microscope" -%} {%- assign
text = "Professor" -%} {%- endif -%} {%- if include.type == "postdoc" -%} {%-
assign icon = "fas fa-glasses" -%} {%- assign text = "Postdoctoral Researcher"
-%} {%- endif -%} {%- if include.type == "phd" -%} {%- assign icon = "fas
fa-graduation-cap" -%} {%- assign text = "Ph.D. Student" -%} {%- endif -%} {%-
if include.type == "phd_g" -%} {%- assign icon = "fas fa-graduation-cap" -%} {%-
assign text = "Ph.D. (Graduated)" -%} {%- endif -%} {%- if include.type == "ms"
-%} {%- assign icon = "fas fa-user-graduate" -%} {%- assign text = "M.S.
Student" -%} {%- endif -%} {%- if include.type == "undergrad" -%} {%- assign
icon = "fas fa-code" -%} {%- assign text = "Undergraduate Student" -%} {%- endif
-%} {%- if include.label -%} {%- assign tooltip = include.label -%} {%- else -%}
{%- assign tooltip = text -%} {%- endif -%}

<span class="role" data-tooltip="{{ tooltip }}" aria-label="{{ tooltip }}">
  <i class="{{ icon }}{%- if include.large -%} fa-lg{%- endif -%}"></i>
</span>
