{% assign members = site.members %} {% if include.order and
site.data[include.order] %} {% assign members = "" | split: "" %} {% for name in
site.data[include.order] %} {% assign path = name | append: ".html" %} {% for
member in site.members %} {% if member.url contains path %} {% assign members =
members | push: member %} {% endif %} {% endfor %} {% endfor %} {% endif %} {%
if include.role != nil %} {% if include.role == "" %} {% assign role = nil %} {%
else %} {% assign role = include.role %} {% endif %} {% assign members = members
| where_exp: "member", "member.role == role" %} {% endif %} {% if include.group
!= nil %} {% if include.group == "" %} {% assign group = nil %} {% else %} {%
assign group = include.group %} {% endif %} {% assign members = members |
where_exp: "member", "member.group == group" %} {% endif %} {% for member in
members %} {% case member.role %} {% when "pi" %} {% assign role_label =
"Professor" %} {% when "postdoc" %} {% assign role_label = "Postdoctoral
Researcher" %} {% when "phd" %} {% assign role_label = "Ph.D. Student" %} {%
when "ms" %} {% assign role_label = "M.S. Student" %} {% when "undergrad" %} {%
assign role_label = "Undergraduate Student" %} {% else %} {% assign role_label =
"Member" %} {% endcase %} {%- include portrait.html name=member.title
link=member.url image=member.image role=role_label mini=include.mini -%} {%
endfor %}
