{% assign members = site.members %} {% if include.order and
site.data[include.order] %} {% assign members = "" | split: "" %} {% for name in
site.data[include.order] %} {% assign path = name | append: ".html" %} {% for
member in site.members %} {% if member.url contains path %} {% assign members =
members | push: member %} {% endif %} {% endfor %} {% endfor %} {% endif %} {%
if include.role != nil %} {% if include.role == "" %} {% assign role = nil %} {%
else %} {% assign role = include.role %} {% endif %} {% assign members = members
| where_exp: "member", "member.role == role" %} {% endif %} {% if include.group
!= nil %} {% if include.group == "" %} {% assign group = nil %} {% else %} {%
assign group = include.group %} {% endif %} {% assign members = members |
where_exp: "member", "member.group == group" %} {% endif %} {% for member in
members %} {% capture role_label %} {% case member.role %} {% when "pi"
%}Professor{% endwhen %} {% when "postdoc" %}Postdoctoral Researcher{% endwhen
%} {% when "phd" %}Ph.D. Student{% endwhen %} {% when "ms" %}M.S. Student{%
endwhen %} {% when "undergrad" %}Undergraduate Student{% endwhen %} {% else
%}Member{% endelse %} {% endcase %} {% endcapture %} {% capture portrait_class
%} portrait-role-{{ member.role }} {% if include.mini %} portrait-mini{% endif
%} {% endcapture %}

<div class="{{ portrait_class | strip }}">
  {%- include portrait.html name=member.title link=member.url image=member.image
  role=role_label mini=include.mini -%}
</div>

{% endfor %}
