backend:
  name: github
  repo: bnvai/bnvai.github.io
  branch: master
  base_url: https://bnvai.github.io
  auth_endpoint: /auth
  client_id: Ov23liFeVFx5WZZVTdNn

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Bài viết"
    folder: "_posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Tiêu đề", name: "title", widget: "string" }
      - { label: "Ngày đăng", name: "date", widget: "datetime" }
      - { label: "Ảnh đại diện", name: "thumbnail", widget: "image", required: false }
      - { label: "Nội dung", name: "body", widget: "markdown" }