name: Update research data

on:
  push:
    paths:
      - '_data/research-input.yml'
  pull_request:
    paths:
      - '_data/research-input.yml'

jobs:
  update_research:
    name: Update Manubot-generated citations in research data
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install Manubot
        run: pip install --upgrade manubot

      - name: Build updated research output file
        run: python _data/build-research.py

      - name: Delete existing artifact if exists
        uses: stefanzweifel/delete-artifacts@v1
        with:
          name: research-output
          failOnError: false

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: research-output
          path: _data/research-output.yml

      - name: Commit new research output file
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: '_data/research-output.yml'
          commit_message: 'Update Manubot-generated citations in research data'
